---
title: Divinity | A story of fantasy, magic, and world-shaking strife.
tagline: Divinity is a fantasy story series about a magical world where angels and demons are locked in seemingly
    neverending conflict. It’s been floating around in my head since around 2012, if memory serves, and it’s become my pride
    and joy.
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include inc_metadata.html %}

    <!-- Twitter Security Tags -->
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:widgets:csp" content="on">
</head>

<body id="home">

    {% include inc_nav.html %}

    <header>
        <img src="media/divinity-icon.png" alt="">
        <h1>Divinity</h1>
        <h2>A story of fantasy, magic, and worldshaking strife.</h2>
    </header>

    <hr>

    <main>
        <div id="info-div">

            <h3>About Divinity</h3>
            <p>
                Divinity is a fantasy story series about a magical world where angels and demons are locked in seemingly
                neverending conflict. It’s been floating around in my head since around 2012, if memory serves, and it’s
                become my pride and joy.
                <br><br>
                It was—and still is—intended to be a video game series, but its story has always been the main focus.
                (Not to mention the fact it’s far too ambitious to be realistic.) I’ve tried to write it down numerous
                times in the past, but never shared it publicly. That’s what this website is for. I’ll be posting
                “chapters” of Divinity in chronological order as I finish them. I hope you'll enjoy reading them!
                <br><br>
                I also post chapters on
                <a href="https://archiveofourown.org/works/13366659/chapters/30608427">Archive of Our Own</a> and
                <a href="https://toyhou.se/~literature/34515.divinity">toyhou.se</a>, if you'd prefer to read them
                there. There will likely be editing quirks, but chapters there will otherwise be identical. (For
                example, AO3 and toyhou.se don't have "prologues" or "chapter 0s," so any given chapter's number will be
                one greater than it should be.) They may be updated late, in comparison to this website.
                <br><br>
                I post extra, in-depth character bios on
                <a href="https://toyhou.se/DivinityStory/characters">toyhou.se</a> as I feel inclined to. You can read
                about any given character’s physical attributes, background, and anything else I couldn’t find a place
                for in the story itself. These bios are purely supplementary.
                <br><br>
                I love feedback of all kinds, as long you’re not just blatantly insulting me. Send me a tweet
                <a href="https://twitter.com/DivinityStory">@DivinityStory</a> and tell me what you think! I also post
                updates there, if you're interested.
            </p>

            <br>

            <h3>Content Warning</h3>
            <p>
                Divinity is <strong>NOT</strong> suited for children.
                <br><br>
                Divinity contains strong language. The violence in Divinity is not flagrantly grotesque, but it is
                present. (Example: Lightly detailed gore, semi-frequent human / angel / demon death.)
                <br><br>
                <strong>Reader discretion is advised.</strong>
            </p>

            <br>

            <h3>Button Guide</h3>
            <p>
                Click on the chevron button to go to the top of the page.<br><br>
                Click on the sun / moon button to toggle between light and dark mode.<br><br>
                Click on the bookmark button to save your position on the page.<br><br>
                Click on the bookmark with an arrow to go to your last saved position.<br>
                (Your bookmark will be remembered by your browser, so your bookmark will <em>not</em> carry over to
                other browsers.)
            </p>
        </div>

        <div id="twitter-div">
            <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="dark" data-dnt="true"
                href="https://twitter.com/DivinityStory?ref_src=twsrc%5Etfw">
                <h3>
                    This embedded twitter timeline isn't loading / is blocked.
                </h3>
                <p>
                    You may have some kind of tracking protection turned on.
                    <br><br>
                    I've set Twitter's "do not track" parameters to true, but that doesn't mean this timeline will be
                    let through.
                </p>
                <span>Click inside this box to see tweets from @DivinityStory.</span>
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </main>

    {% include inc_footer.html %}
</body>

</html>