---
title: Divinity | Table of Contents
tagline: Divinity is a fantasy story series about a magical world where angels and demons are locked in seemingly
    neverending conflict. It’s been floating around in my head since around 2012, if memory serves, and it’s become my pride
    and joy.
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include inc_metadata.html %}
</head>

<body id="toc">
    {% include inc_nav.html %}

    <header class="smaller-header">
        <h1>Table of Contents</h1>
    </header>

    <hr>

    <main>
        <ul id="toc-list">
            {% comment %} For each chapter in the data file, make a link to that chapter and fill it with
            the appropriate text. {% endcomment %}
            {% for item in site.data.chapters %}
                <li>
                    <a class="chapter-link" href="chapter-{{ item.number }}.html">
                        {% if item.number <= 0 %}
                            Prologue: {{ item.name }}
                        {% else %}
                            Chapter {{ item.number }}: {{ item.name }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a class="chapter-link inactive" href="#">
                    In Progress...
                </a>
            </li>
        </ul>
    </main>

    {% include inc_footer.html %}
</body>

</html>